<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
      </head>
      <body>
        <div class="container">
          <h1>TO DO LIST</h1>
          <div class="box">
            <div class="subContainer">
              <ul class="todoItems">
                <% for(let i=0; i < items.length; i++) {%>
                <li class="item">
                  <% if(items[i].completed === true) {%>
                  <span class="completed"><%= items[i].thing %></span>
                  <% }else{ %>
                  <span><%= items[i].thing %></span>
                  <% } %>
                  <span class="fa fa-trash" class="icon"></span>
                </li>
                <% } %>
              </ul>
            </div>
            <div class="subContainer rightList">
              <form action="/addTodo" method="POST" class="styled-form">
                <input type="text" placeholder="Things To Do" name="todoItem" />
                <button type="submit">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </form>
              <h2>Left to do: <%= left %></h2>
              <% for(let i=0; i < left; i++) {%>
              <i class="fa-solid fa-seedling plantIcon"></i>
              <% } %>
            </div>
          </div>
        </div>

        <script src="js/main.js"></script>
        <script
          src="https://kit.fontawesome.com/e1c5edae0a.js"
          crossorigin="anonymous"
        ></script>
      </body>
    </html>
  </body>
</html>
